<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body>
    <form action="/restaurant" method="POST">

        name:
        <input type="text" name="name" /> 
        distance:
        <input type="text" name="distance" /> 
        stars:
        <input type="text" name="stars" /> 
        category:
        <input type="text" name="category" /> 
        favorite:
        <input type="text" name="favorite" /> 
        takeout:
        <input type="text" name="takeout" />

        <input type="submit" />

    </form>

</body>

</html>