<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Album Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <h1>Album Form</h1>
    <form method="POST">
        Album name:
        <input type="text" name="albumName">
        <br> Album Year:
        <input type="text" name="albumYear">
        <br> Artist ID:
        <input type="text" name="artistId">
        <br>
        <input type="submit">
    </form>

    <script src="../routes/albumForm.js"></script>
</body>

</html>